<mat-card>
    <mat-card-content>
        <section>
            <mat-grid-list cols="4" rowHeight="4:4">
                <mat-grid-tile>

                    <mat-form-field appearance="outline" class="form-field">

                        <input matInput placeholder="Digite" name="First name">
                        <mat-label> First name</mat-label>

                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline" class="form-field">
                        <input matInput name="Last name">
                        <mat-label>Last name</mat-label>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline" class="form-field">
                        <input matInput name="Age">
                        <mat-label>Age</mat-label>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile matForm>
                    <mat-form-field appearance="outline" class="form-field">
                        <input matInput name="Address">
                        <mat-label>Address</mat-label>
                    </mat-form-field>
                </mat-grid-tile>




            </mat-grid-list>

        </section>
    </mat-card-content>
</mat-card>